.header{
    display: flex;
   align-items: center;
   background-color:rgb(247, 247, 255);
   padding: 0px 0px;
   justify-content: space-around

}
.logo{
    width: 150px;
    margin-bottom: 15px;
}
.hamburguesa{
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: black;
}
.navegacion a{
    text-decoration: none;
    color: black ;
    font-weight: bold;
    font-size: 17px;
    transition: color 0.3s ease;
    padding: 0px 10px;
    margin: 0px 5px;
    border-radius: 5px;
    transition: all 0.3s ease;

   
}
.navegacion a:hover{
    color: black;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 10px;
}

.contenedor-columnas{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    gap: 20px;

}

.contenedor-columnas .columna{
    flex: 1;
    
    
    
}
.contenedor-columnas .columna p{
    font-size: 40px;
    line-height: 1.5;
    padding: 30px 20px;
    
    color: black;
}
.contenedor-columnas .columna h2.seguridad{
    background-color: rgb(231, 227, 227);
    padding: 5px 10px;
    border-radius: 15px;
}


.contenedor-columnas .columna h1.Security{
    margin-bottom: 10px;
    color: black;
    font-size: 55px;
    background-color: yellow;
    padding: 0px 20px;
    border-radius: 10px;
}
.contenedor-columnas .columna h1.Henry{
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
    font-size: 80px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }
    .logo {
width: 100px;  
  }

.navegacion {
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .navegacion a {
        margin: 5px 0;
        font-size: 14px;
        padding: 10px 20px;
        text-decoration: none;
        color: black;
        position: fixed;
        top: 0;
        right: -250px; /* Inicialmente a la derecha*/
        width: 200px;
        height: 100%;
        flex-direction: column;
        justify-content: center;

    }
    .navegacion a:hover {
        background-color: black;
        color: white;
    }
    .hamburguesa {
        display: block;
        position: absolute;
        top: 0;
        right: 20px;
    }

}

.main{
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.footer-contenedor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(247, 247, 255);
    padding: 20px 0px;
    gap: 20px;
    background-color: rgb(237, 237, 248);
    
}
.footer-columna  .enlaces .redes-sociales{
    display: flex;

}
.footer-columna .enlaces a {
   text-decoration: none;

}
.footer-columna .redes-sociales a{
   text-decoration: none;
}

footer{
position: fixed;
bottom: 0;
width: 100%;
}

.asiseguridad{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 40px;
    
}
.cambiar{
    display: flex;
    justify-content: center;
    background-color: yellow;

}
.contenedor{
 
    justify-content: center;
     text-align: center;
    align-items: center;
    background-color: rgb(225, 229, 240);
     

    
}